.profileAvatar{
    padding: .7em 1em;
    border-radius: 100%;
    background-color: brown;
    font-size: .8rem;
    color: #FFF;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
}
.textBoxEl{
    width: 50em;
    height: fit-content;
    margin: 2em 0 2em 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFF;
    padding: 2em 2em;
    border-radius: 20px;
}
.textBoxEl textarea{
    resize: none;
    border-radius: 10px;
    border: 1px solid hsl(225, 6%, 87%);
    margin-left: 1em;
    padding: 1em 1em;
}
.textBoxEl textarea:focus{
    outline: none;
    border: 1px solid hsl(225, 6%, 87%);
}
.submitBtnEl{
    padding: 1em 1.5em;
    border: none;
    border-radius: 10px;
    background-color: hsl(238, 40%, 52%);
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    margin-left: 1em;
}